<link href="~/Content/movies/css/404.css" rel='stylesheet' type='text/css' />
@{
    ViewBag.Title = "Feel movies  : NotFound";
   
}
<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="fof" class="clear">
      <div class="fl_left">
        <img src="~/Content/movies/images/404.png" alt="">
        <h1>Nothing Found</h1>
      </div>
      <div class="fl_right">
        <h2>What Next ?</h2>
        <p>For Some Reason The Page You Requested Could Not Be Found On Our Server</p>
        <p>Go back to the <a href="javascript:history.go(-1)">previous page</a></p>
      </div>
    </section>
   
  </div>
</div>