@model MovieFeeler.Web.Models.MovieTrailor
@{
    Layout = null;
}
<div class="small-dialog">
    <iframe src="http://www.youtube.com/embed/@Model.VideoKey"
    width="560" height="315" frameborder="0" allowfullscreen></iframe>
</div>
